page-home {

}

ion-modal.show-page {
//  padding: 30px;
  background: rgba(0,0,0,0.1);
}
.modal-wrapper {
  position: absolute;
  width: auto;
  height: auto;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
}


.disabledfeature{
  color: #8f8f8f;
}

.button-md {
  text-transform: none;
}

.item-block {
  text-align: center;
}
